*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-family: inherit;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  box-sizing: border-box;

  @include respond(phone) {
    font-size: 50%;
  }
}

body {
  min-height: 100vh;

  background-image: linear-gradient(to right bottom, #ced4da, #dee2e6);
  font-family: 'Spartan', sans-serif;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
